fastapi
uvicorn[standard]
websockets
python-dotenv
psycopg2-binary
SQLAlchemy
alembic

pydantic
pydantic-settings

asyncpg
databases

redis
aioredis
aiocache

boto3

google-auth
google-auth-oauthlib
google-auth-httplib2
google-generativeai

PyJWT
passlib[bcrypt]

python-multipart

pillow

numpy
opencv-python

httpx
requests

pydantic[email]

tenacity
