fastapi
uvicorn[standard]
python-dotenv
psycopg2-binary
SQLAlchemy
alembic

pydantic
pydantic-settings

asyncpg
databases

redis
aioredis
aiocache

boto3

google-auth
google-auth-oauthlib
google-auth-httplib2

PyJWT
passlib[bcrypt]

python-multipart

pillow
opencv-python

httpx
requests

pydantic[email]

tenacity
